<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    La app del mishus: {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://lh3.googleusercontent.com/TNpX9WArWOk732mld6T3GaPrQjM_ATb6aWaxyAkmeiSjGHT1dKjZrntDFehTaoK7jvXYg9PsX-YGNDeL7ukZACnUIAR_fzZDM2mzavmTsHHJwcNs96YCGWfSXVqpK3VAaKeOmn5uS7HqYFaJLAsIqL6XDx4EGjZI_wi-d2IMO1z7JQABPoGKTSW132jZVAd00RPvw1eFI2zDaMbHloKCfrKQEipZHgyXETgIr0d1zBA57PW97gGkvTFHmdDkDE42um84pv5NRdGqWsqts57As-Asex2CqWq5ieo3XBaFdK724pTeb97W74Lu4IydT656pKmR6WPE2K7vwpulZopdvaxX1HXxoNrSPDcZbTzMlPMRNIrYtO8TBUay6kk2Hs5zgHPY5Ktx10vZ_3ytYb_lNXQdy0QVJCFixOQB2VjH8CVfxR_Cu4F-aO3ztstjfqdiRDN_md2CCzA0wDoMxfR6HW88HtdaE3RdZKmlcdqnRLbbc2nt3t8wQAu7qN0GImywv_RSO92L5QwTTLGq0a2cn76qj1YxsWJpqKt_E_LqGxeceGLh2ntPYgdDPW0TJ3wAL8GSRqxCoDx-GSXg96a8yt7MIutS9QT-D0QdxXSrwoY5y-pcWusdAgzgmaPYXQjPSJhx0rljplzGICA7R7DdA7mXKp23DmZErT4bSibrfryLobsOmzxQc1TZfeBHzwLGSwUuOq2g-1OaqekD4-w8N81WrA=s250-k-rw-no">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

